@model IEnumerable<com.aadviktech.IMS.DB.MyAppUser>
@using com.aadviktech.IMS.Constant.AllEnum

@{


}

<div class="table table-responsive">
    <div class="dataTables_length" id="DataTables_Table_0_length">
        <label>
            <select id="pagesz" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm selectPageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>
    </div>
    <table class="table table-bordered grid">
        <tr>
            <th>Sn</th>
            <th>Name</th>
            <th>Shop Name</th>
            <th>Mobile</th>
            <th>Balance</th>
            <th>Created Date</th>
            <th class="text-center">Action</th>
        </tr>

        @{
            com.aadviktech.IMS.ViewModel.DataPagingModel PagingModel = (com.aadviktech.IMS.ViewModel.DataPagingModel)ViewBag.DataPagingModel;
            int sn = (PagingModel.CurrentPageID - 1) * PagingModel.PageSize;
            sn++;
        }

        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@sn</td>
                    @{sn++; }
                    <td>@item.FullName</td>
                    <td>@item.CompanyName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Balance</td>
                    <td>@item.CreatedOn</td>
                    <td class="text-center">
                        <a href="~/User/EditUser/@item.Id" class="text-warning">Edit</a> |
                        <a onclick="deleteAccountant(@item.Id)" href="javascript:void(0);" class="text-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="8" class="alert alert-danger">No Record Found</td></tr>
        }

    </table>
</div>
@Html.Partial("../Shared/_PartialTablePaging")

<script>
    function deleteAccountant(id) {
        bootbox.confirm("Are you sure you want to delete this user", function (res) {
            if (res == true) {
                $.ajax({
                    url: "@(Url.Action("DeleteUser", "User"))" + "/" + id,
                    type: "POST",
                    success: function (data) {
                        if (data.Status == true) { bootbox.alert(data.Message, function () { window.location.reload(); }); }
                        else { bootbox.alert(data.Message); }
                    },
                    error: function (error) {
                        bootbox.alert("An error occured while deleting user.")
                    }
                });
            }
        });
        return false;
    }
</script>